.main-wrapper {
  margin-top: 120px;
  margin-bottom: 80px;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.form-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}

.one-input {
  margin-top: 20px;
}

.inputs-text {
  font-size: 16px;
  color: white;
}

.data {
  width: 200px;
}

.buttons {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.btn {
  color: white;
}

.left-btn {
  background-color: #1e2127;
}

.right-btn {
  background-color: #4fc1cb;
}

.pic {
  width: 130px;

}

.big {
  width: 300px;
  border-radius: 5px;

}

.text {
  font-size: 12px;
  width: 300px;

}


.item {
  display: flex;
  flex-flow: row;
  margin: 5px;
  padding: 5px;
  border: solid 1px rgb(255 255 255 / 10%);
  border-radius: 10px;
}

.left-block {
  flex-direction: column;
  padding: 5px;
}

.item-btn {
  margin-left: auto;
}

.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 300px;
  white-space: nowrap;
}
