<div class="main-main-wrapper">
    <div class="row main-wrapper">
        <div class="col-md-6 order-form">
            <div class="form-title">
                <p>Крок 1: Введіть інформацію про себе</p>
            </div>
            <div class="row">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"
                              id="basic-addon1">Ім'я</span>
                    </div>
                    <input type="text" class="form-control"
                           placeholder="Введіть Ваше ім'я" aria-label="Username"
                           aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"
                              id="basic-addon2">+380</span>
                    </div>
                    <input type="tel" class="form-control"
                           [mask]="'000-000-000'"
                           placeholder="Введіть контактний номер телефону"
                           aria-label="Username"
                           aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"
                              id="basic-addon3">E-mail</span>
                    </div>
                    <input type="text" class="form-control"
                           placeholder="Введіть Вашу електронну пошту"
                           aria-label="Username"
                           aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="buttons">

                <button class="btn dark-btn left-btn" onclick="document.location='shop'">Назад</button>

                <button class="btn primary-btn right-btn">Продовжити</button>
            </div>
        </div>
        <div class="col-md-6 description">
            <div style="display: flex; flex-flow: row">
                <p style="font-size: 24px">Загальна
                    ціна: {{total}} ₴</p>
                <hr>
                <button class="btn btn-outline-secondary clear-cart" (click)="clearCart()">
                    Очистити корзину
                </button>
            </div>
            <div class="item" *ngFor="let item of items; let i = index">
                <div class="item-image">
                    <img src="assets/images/item-page/hookah-pic.png"
                         class="pic"/>
                </div>
                <div class="left-block">
                    <p class="cut-text">{{item.name}}</p>
                    <div class="item-price" style="display: flex; flex-flow: row">
                        <div class="input-group"
                             style="margin-left: 20px; max-width: 150px;">
                             <button [disabled]="item.qtyTotal == 1"
                                    class="btn btn-outline-secondary"
                                    style="border-radius:  10px 0 0 10px; height: 30px; padding: revert;"
                                    (click)="decrease(item, i)">-
                            </button>

                            <input [(ngModel)]="item.qtyTotal"
                                   value="{{ item.qtyTotal }}"
                                   (change)="changeSubtotal(item ,i)"
                                   type="number" class="form-control"
                                   style="max-width: 40px; text-align: center; height: 30px; padding: unset;background-clip: unset"/>
                           <button class="btn btn-outline-secondary"
                                   style="border-radius: 0 10px 10px 0; height: 30px; padding: revert;"
                                   [disabled]="item.qtyTotal >= item.amount"
                                   (click)="increase(item, i)">+
                           </button>
                        </div>
                        <div  style="display: flex; flex-flow: row">
                            <p>Ціна:</p>
                            <p #subTotalWrap>{{ item.price }}₴</p>
                        </div>

                    </div>
                </div>
                <div class="item-btn">
                    <button class="trash btn btn-outline-secondary"
                            (click)="removeFromCart(item)">
                        <i class="bi bi-trash-fill" style="font-size: 20px"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
