<div class="main-wrapper">
  <div class="form-title">
    <p>Крок 1: Введіть інформацію про себе</p>
  </div>
  <div class="row inputs">
    <div class="col-md-6 one-input">
    <p class="inputs-text">Ім'я:*</p>
    <input required class="data">
    </div>
    <div class="col-md-6 one-input">
    <p class="inputs-text">Прізвище:*</p>
    <input required class="data">
    </div>
    <div class="col-md-6 one-input">
    <p class="inputs-text">Телефон:*</p>
    <input required class="data">
    </div>
    <div class="col-md-6 one-input">
    <p class="inputs-text">E-mail:*</p>
    <input required class="data">
    </div>
  </div>
  <div class="buttons">
    <button class="btn dark-btn left-btn">Назад</button>
    <button class="btn primary-btn right-btn">Продовжити</button>
  </div>
</div>
