.main-wrapper {
  width: 1100px;
  margin: 120px auto 80px;
  color: white;
}

.form-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}


.buttons {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.btn {
  color: white;
}

.left-btn {
  background-color: #1e2127;
}

.right-btn {
  background-color: #4fc1cb;
}

.pic {
  width: 130px;
}

.item {
  display: flex;
  flex-flow: row;
  margin: 5px;
  padding: 5px;
  border: solid 1px rgb(255 255 255 / 10%);
  border-radius: 10px;
}

.left-block {
  flex-direction: column;
  padding: 5px;
}

.item-btn {
  margin-left: auto;
}

.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 300px;
  white-space: nowrap;
}
