.main-main-wrapper {
  min-height: calc(100vh - 80px);
  overflow: hidden;
}
.main-wrapper {
  max-width: 90%;
  width: 1000px;
  margin-top: 120px;
  min-height: calc(100vh - 80px);
  margin-left: auto;
  margin-right: auto;
  color: white;
}



.form-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}


.buttons {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.btn {
  color: white;
}

.left-btn {
  background-color: #1e2127;
}
.left-btn:hover {
  background-color: gray;
}

.right-btn {
  background-color: #4fc1cb;
}

.right-btn:hover {
  opacity: 60%;
}

.pic {
  max-width: 130px;
}

.item {
  display: flex;
  flex-flow: row;
  margin: 5px;
  padding: 5px;
  border: solid 1px rgb(255 255 255 / 10%);
  border-radius: 10px;
}

.left-block {
  flex-direction: column;
  padding: 5px;
  max-width: 60%;
}

.item-btn {
 margin-right: 10px;
}

.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
}
.item-btn {
  margin-left: auto;
  margin-right: 0;
}
@media screen and (max-width: 1120px) {
  .trash {
    
   }
  
}
@media screen and (max-width: 1050px) {
  .trash {
    margin-top: 100px;
    margin-left: -50px;
   }
   .item-price {
    margin-top: 80px;
    margin-left: -150px;
   }
  
}
.clear-cart {
  height:40px;
  background-color: #4fc1cb;
  border:none;
}
@media screen and (max-width: 910px) {
.clear-cart {
  height:40px;
}
}
@media screen and (max-width: 766px) {
  .trash {
    margin-left: auto;
    margin-right: 0;
    margin-bottom: auto;
    margin-top: 0;
   }

  .right-btn {
 margin-bottom: 10px;
}
.item-price {
 margin-top: 0;
 margin-left: 0;
 }
}
@media screen and (max-width: 550px) {
  .trash {
    margin-top: 100px;
    margin-left: -50px;
   }
   .item-price {
   
    margin-top: 80px;
    margin-left: -150px;
   }
  
}

