<header class="header-main">
    <nav class="navbar navbar-expand-lg container">
        <a class="navbar-brand" href="#">Logo</a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#header"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
              <img src="assets\images\header\burger.jpg" class="button-icon"/>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="header">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="'shop'">Магазин</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Оплата і доставка</a>
                </li>
            </ul>
            <div class="actions">
                <span>
                    <button class="shop-button">
                    <img [src]="'assets/images/shopping-cart-icon.svg'"
                         class="shopping-cart-icon" alt="">
                     </button>>    
                </span>
            </div>
            <div class="user">
                <span>
                    <button class="shop-button">
                    <img [src]="'assets/images/user-icon.svg'" class="user-icon"
                         alt="">
                     </button>    
                </span>
            </div>
        </div>
    </nav>
</header>
