<div class="main-wrapper">
    <section class="navbar">
        <div class="navbar-left">
            <div class="row left-small">
                <img src="assets/images/inventory-page/combined-shape.svg">
                <p class="arrow"> > </p>
                <p class="calians"> Кальяни </p>
            </div>
            <div class="row left-big">
                <p class="calians-2"> Кальяни </p>
                <p class="showed"> Показано 20 товарів
                    <button type="button" name="button" class="criss-cross"><img
                            src="assets/images/inventory-page/combined-shape-2.svg">
                    </button>
                </p>
            </div>
        </div>
        <div class="row navbar-buttons">
            <button type="button" name="button" class="btn btn-primary top-btn">
                <img src="assets/images/inventory-page/burger.svg"
                     class="btn-img">
                <p>Сортувати</p>
            </button>
            <button type="button" name="button" class="btn btn-primary top-btn">
                <img src="assets/images/inventory-page/path.svg"
                     class="btn-img">
                <p>Фільтр</p>
            </button>
        </div>
    </section>
    <section class="inventory">
        <div class="side-bar">
            <div class="row menu-section">
                <p class="menu">Категорії</p>
                <button class="plus-minus">-</button>
            </div>
            <div class="choosing-category">
                <input type="checkbox" name="choose" class="choosing"
                       (click)="changeData(Hookahs)">
                <label for="choose">Кальяни</label>
                <br/>
                <input type="checkbox" name="choose" class="choosing"
                       (click)="changeData(Charcoal)">
                <label for="choose">Вугілля</label>
                <br/>
                <input type="checkbox" name="choose" class="choosing"
                       (click)="changeData(Tobaccos)">
                <label for="choose">Табак</label>
            </div>
            <hr class="menu-line"/>
            <br/>
            <div class="row menu-section">
                <p class="menu">Виробник</p>
                <button class="plus-minus">+</button>
            </div>
            <hr class="menu-line"/>
            <br/>
            <div class="row menu-section">
                <p class="menu">Ціна</p>
                <button class="plus-minus">+</button>
            </div>
            <hr class="menu-line"/>
            <button class="btn btn-primary use-filters">Застосувати фільтри
            </button>
        </div>
        <div class="row items">
            <div class="col-md-3 item" *ngFor="let item of Items">
                <a><img src="assets/images/inventory-page/hookah-pic.png"
                        class="hookah-pic"></a>
                <p class="item-name" href="#">{{item.name}}</p>
                <div class="row description">
                    <div class="price">
                        <p class="number">{{item.price}}$</p>
                        <p class="availability">В наявності</p>
                    </div>
                    <button class="shop"><img
                            src="assets/images/inventory-page/rectangle-5.svg"
                            class="shop-icon"/></button>
                </div>
            </div>
        </div>
    </section>
</div>
