.main-wrapper {
 margin-top: 63px;
}
.navbar {
  height: 110px;
  width: 1220px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
.left-small {
  width: 110px;
  color: #d8d8d8;

  display: flex;
  justify-content: space-around;
}
.arrow {
  font-size: 20px;
  margin-top: 7px;
}
.calians {
  font-size: 12px;
  margin-top: 15px;
}
.left-big {
  width: 300px;

  display: flex;
  justify-content: space-between;
}
.calians-2 {
  font-size: 30px;
  color: white;
}
.showed {
  font-size: 14px;
  color: #aaaebf;
  margin-top: 12px;
}
.criss-cross {
  background-color: #05080f;
  border: solid #05080f;
}
.navbar-buttons {
  width: 355px;
  display: flex;
  justify-content: space-between;
}
.top-btn {
  width: 170px;
  height: 40px;
  background-color: #1e2127;;
  border: solid #1e2127;
  display: flex;
  justify-content: space-around;
}
.btn-img {
  margin-top: 5px;
}
.inventory {
  display: flex;
  flex-direction: row;
}
.side-bar {
 width: 360px;
 height: 499px;
 margin: 16px 24px 115px 0;
 padding: 24px 20px;
 border-radius: 4px;
 background-color: #1e2127;
 font-family: Montserrat;
}
.menu {
  font-size: 16px;
  color: #c9ccdb;
  margin-left: 12px;
}
.menu-line {
  width: 320px;
  margin: 24px 5 5;
  opacity: 0.1;
  background-color: #efeff0;
}
.plus-minus{
  margin-left: 300px;
  margin-top: -60px;
  font-size: 30px;
  color: #b8bccb;
  background-color: #1e2127;
  border: solid #1e2127;
}
.choosing-category {
  font-size: 14px;
  color: #b8bccb;
}
.choosing {
  margin-right: 5px;
}
.use-filters {
  width: 320px;
   height: 42px;
   margin: 156px 0 0;
   padding: 10px 82px;
   border-radius: 4px;
   background-color: #4fc1cb;
   margin-top: 70px;
}
.items {
 width: 1000px;
}
.item {
  height: 324px;
  width: 314px;
  margin: 20px;
  padding: 1px 1px 24px;
  border-radius: 4px;
  border: solid 1px rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.05);
}
.item-name {
  font-size: 16px;
  color: white;
   margin-top: 20px;
   margin-left: 10px;
}
.price {
  margin-left: 30px;
}
.number {
  font-size: 24px;
  color: white;
}
.availability {
  font-size: 12px;
  color: #52c24e;
}

.shop {
  margin-left: 80px;
  width: 70px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.00);
  border: rgba(255, 255, 255, 0.00);
}
