.main-main-wrapper {
  min-height: calc(100vh - 80px);
  overflow: hidden;
}

.main-wrapper {
  max-width: 1300px;
  margin-top: 63px;
  min-height: calc(100vh - 80px);
  margin-left: auto;
  margin-right: auto;
}
.navbar {
  margin-top: 75px;
}

.left-small {
  width: 110px;
  color: #d8d8d8;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.home-icon {
  margin-top: -5px;
  color: white;
}

.arrow {
  font-size: 20px;
  margin-top: 7px;
}

.calians {
  font-size: 12px;
  margin-top: 15px;
}


.inventory {
  display: flex;
  flex-direction: row;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}

.side-bar {
  width: 360px;
  height: 100%;
  margin: 7px 24px 0 0;
  padding: 24px 20px;
  border-radius: 4px;
  background-color: #1e2127;
  font-family: Montserrat;
}

.choosing {
  margin-right: 5px;
}

.items {
  max-width: 1100px;
  justify-content: center;
}

.description {
  display: flex;
  position: absolute;
  bottom: 0;
  margin-left: 7px;
  align-items: center;
}

.card-img-top {
  max-width: 300px;
}

.item {
  max-height: 400px;
  width: 100%;
  max-width: 316px;
  min-width: 316px;
  padding: 1px 1px 24px;
  border-radius: 4px;
  border: solid 1px rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.05);
}

.item-name {
  font-size: 18px;
  color: white;
  margin-left: 10px;
}

.price {
  margin-left: 12px;
}

.number {
  font-size: 24px;
  color: white;
  margin-bottom: 0;
  margin-top: 10px;
}

.availability {
  font-size: 12px;
  color: #52c24e;
  margin-bottom: 0;
}

.shop {
  margin-left: 120px;
  height: 50px;
  width: 50px;
  border: solid #4fc1cb 1px;
  background: none;

  border-radius: 5px;
}

.shop:hover {
  background: rgb(70, 70, 70);

  border-radius: 5px;
}

.shop-icon {
  font-size: 24px;
  color: #4fc1cb;
}

//*Accordion*//

::ng-deep .card {
  margin-bottom: 20px;
  background-color: #1e2226;
  border: none;
  color: white;
}

::ng-deep .card .card-header {
  border-bottom: solid 1px #2e3236;
}

::ng-deep .card .card-header .btn-link {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

//*Mobile*//

@media (max-width: 960px) {
  .item {
    height: 222px;
    width: 100%;
    max-width: 150px;
    min-width: 150px;
  }
  .card-body {
    padding: 0.25rem
  }
  .item-name {
    font-size: 12px;
  }
  .description {
    margin-left: 0;
  }
  .number {
    font-size: 20px;
    margin-top: 0;
  }
  .availability {
    font-size: 10px;
  }
  .shop {
    margin-left: 30px;
    width: 30px;
    height: 30px;
    margin-top: 8px;
  }
  .shop-icon {
    font-size: 18px;
    width: 30px;
    height: 30px;
  }
}
