<nav class="navbar navbar-expand-md container navbar-dark">
    <div class="row left-small">
        <a href="/"><img src="assets/images/inventory-page/combined-shape.svg"
                         class="home-icon"></a>
        <span class="arrow"> > </span>
        <span class="calians"> Кальяни </span>
    </div>
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#inventoryNavBar"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="inventoryNavBar" style="flex-flow: row-reverse;">
        <div style="flex-flow: row-reverse; display: flex">
            <div class="navbar-buttons">
                <button type="button" name="button"
                        class="btn btn-primary top-btn">
                    <img src="assets/images/inventory-page/burger.svg"
                         class="btn-img">
                    <p>Сортувати</p>
                </button>
                <button type="button" name="button"
                        class="btn btn-primary top-btn">
                    <img src="assets/images/inventory-page/path.svg"
                         class="btn-img">
                    <p>Фільтр</p>
                </button>
            </div>
        </div>
    </div>
</nav>

<!--        <div class="row left-big">-->
<!--            <p class="calians-2"> Кальяни </p>-->
<!--            <p class="showed"> Показано 20 товарів-->
<!--                <button type="button" name="button" class="criss-cross"><img-->
<!--                        src="assets/images/inventory-page/combined-shape-2.svg">-->
<!--                </button>-->
<!--            </p>-->
<!--        </div>-->
<div class="container-lg">
    <section class="inventory">
        <div class="side-bar d-none d-md-block d-lg-block">
            <accordion [isAnimated]="true">
                <accordion-group (isOpenChange)="toggleAccordion($event)">
                    <button class="btn btn-link btn-block clearfix"
                            accordion-heading type="button">
                        <div class="pull-left float-left">Категорії</div>
                        <span class=" float-right pull-right">
                            <p *ngIf="isContentOpen">-</p>
                            <p *ngIf="!isContentOpen">+</p>
                        </span>
                    </button>
                    <input type="checkbox" name="choose" class="choosing"
                           (click)="changeData(hookahs)">
                    <label for="choose">Кальяни</label>
                    <br/>
                    <input type="checkbox" name="choose" class="choosing"
                           (click)="changeData(charcoals)">
                    <label for="choose">Вугілля</label>
                    <br/>
                    <input type="checkbox" name="choose" class="choosing"
                           (click)="changeData(tobaccos)">
                    <label for="choose">Табак</label>
                    <br/>
                    <input type="checkbox" name="choose" class="choosing"
                           (click)="changeData(accessories)">
                    <label for="choose">Аксесуари</label>
                </accordion-group>
                <accordion-group (isOpenChange)="toggleAccordion($event)">
                    <button class="btn btn-link btn-block clearfix"
                            accordion-heading type="button">
                        <div class="pull-left float-left">Виробник</div>
                        <span class="float-right pull-right">
                            <p *ngIf="isContentOpen">-</p>
                            <p *ngIf="!isContentOpen">+</p>
                        </span>
                    </button>
                    <input type="checkbox" name="choose" class="choosing">
                    <label for="choose">Україна</label>
                    <br/>
                    <input type="checkbox" name="choose" class="choosing">
                    <label for="choose">Китай</label>
                    <br/>
                    <input type="checkbox" name="choose" class="choosing">
                    <label for="choose">Турція</label>
                    <br/></accordion-group>
                <accordion-group (isOpenChange)="toggleAccordion($event)">
                    <button class="btn btn-link btn-block clearfix"
                            accordion-heading type="button">
                        <div class="pull-left float-left">Ціна</div>
                        <span class="float-right pull-right">
                            <p *ngIf="isContentOpen">-</p>
                            <p *ngIf="!isContentOpen">+</p>
                        </span>
                    </button>
                    <input type="checkbox" name="choose" class="choosing">
                    <label for="choose">Дорогі</label>
                    <br/>
                    <input type="checkbox" name="choose" class="choosing">
                    <label for="choose">Дешеві</label>
                </accordion-group>
            </accordion>
            <button class="btn btn-primary use-filters">Застосувати фільтри
            </button>
        </div>
        <div class="row items">
            <div class="card col-md-3 m-2 item" *ngFor="let item of items">
                <img src="assets/images/inventory-page/hookah-pic.png"
                     class="card-img-top">
                <div class="card-body">
                    <a href="./item-page"><p
                            class="item-name">{{item.name}}</p>
                    </a>
                    <div class="description">
                        <div class="price">
                            <p class="number">{{item.price}}$</p>
                            <p class="availability">В наявності</p>
                        </div>
                        <button class="shop"><img
                                src="assets/images/inventory-page/rectangle-5.svg"
                                class="shop-icon"/></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
