.main-wrapper {
  margin-top: 63px;
}

.navbar {
  max-height: 110px;
  max-width: 1220px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.left-small {
  width: 110px;
  color: #d8d8d8;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.arrow {
  font-size: 20px;
  margin-top: 7px;
}

.calians {
  font-size: 12px;
  margin-top: 15px;
}

.left-big {
  width: 300px;

  display: flex;
  justify-content: space-between;
}

.calians-2 {
  font-size: 30px;
  color: white;
}

.showed {
  font-size: 14px;
  color: #aaaebf;
  margin-top: 12px;
}

.criss-cross {
  background-color: #05080f;
  border: solid #05080f;
}

.navbar-buttons {
  width: 355px;
  display: flex;
  justify-content: space-between;
}

.top-btn {
  width: 170px;
  height: 40px;
  background-color: #1e2127;;
  border: solid #1e2127;
  display: flex;
  justify-content: space-around;
}

.btn-img {
  margin-top: 5px;
}

.inventory {
  display: flex;
  flex-direction: row;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}

.side-bar {
  width: 300px;
  height: 100%;
  margin: 7px 24px 0 0;
  padding: 24px 20px;
  border-radius: 4px;
  background-color: #1e2127;
  font-family: Montserrat;
}

.menu {
  font-size: 16px;
  color: #c9ccdb;
  margin-left: 12px;
}

.menu-line {
  width: 320px;
  margin: 24px 5px 5px;
  opacity: 0.1;
  background-color: #efeff0;
}

.plus-minus {
  margin-left: 300px;
  margin-top: -60px;
  font-size: 30px;
  color: #b8bccb;
  background-color: #1e2127;
  border: solid #1e2127;
}

.choosing-category {
  font-size: 14px;
  color: #b8bccb;
}

.choosing {
  margin-right: 5px;
}

.use-filters {
  width: 260px;
  height: 42px;
  margin: 70px 0 0 0;
  border-radius: 4px;
  background-color: #4fc1cb;
  text-align: center;
}

.items {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.description {
  display: flex;
  position: absolute;
  bottom: 0;
  margin-left: 7px;
}

.card-img-top {
  max-width: 300px;
}

.item {
  max-height: 400px;
  width: 100%;
  max-width: 270px;
  min-width: 270px;
  padding: 1px 1px 24px;
  border-radius: 4px;
  border: solid 1px rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.05);
}

.item-name {
  font-size: 18px;
  color: white;
  margin-left: 10px;
}

.price {
  margin-left: 12px;
}

.number {
  font-size: 24px;
  color: white;
  margin-bottom: 0;
  margin-top: 10px;
}

.availability {
  font-size: 12px;
  color: #52c24e;
  margin-bottom: 0;
}

.shop {
  margin-left: 80px;
  width: 70px;
  height: 70px;
  background: none;
  border: none;
}

//*Accordion*//

::ng-deep .card {
  margin-bottom: 20px;
  background-color: #1e2226;
  border: none;
  color: white;
}

::ng-deep .card .card-header {
  border-bottom: solid 1px #2e3236;
}

::ng-deep .card .card-header .btn-link {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
