footer {
  background-color: #000000;
  .container {


  }
}

.footer-nav {
  min-height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  a {
    color: #ffffff;
    text-decoration: none;
  }
}

.footer-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 60px;

  p {
    font-family: Montserrat;
    margin-bottom: 0;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
  }
}
