<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-logo">
                    <a class="navbar-brand" [routerLink]="''">Logo</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-nav">
                    <a [routerLink]="'shop'">Магазин</a>
                    <a [routerLink]="'shop/order'">Оплата і доставка</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-info">
                    <p>2020. All rights reserved ©</p>
                    <a class="dev"[routerLink]="''">Developed by betOn</a>
                </div>
            </div>
        </div>
    </div>
</footer>
