<div class="main-main-wrapper">
    <div class="main-wrapper">
        <section class="path">
            <div class="row left-small">
                <div class="cell">
                    <a [routerLink]="''"><i class="bi bi-house-door home-icon"
                                            [routerLink]="''"></i>
                    </a>
                </div>
                <div class="cell">
                    <p class="arrow"> > </p>
                </div>
                <div class="cell">
                    <p class="calians"> Кальяни </p>
                </div>
                <div class="cell">
                    <p class="arrow"> > </p>
                </div>
                <div class="cell">
                    <p class="calian-name">Hartley Brown & Matte Black</p>
                </div>
            </div>
        </section>
        <section class="row item-info">
            <div class="col-md-6">
                <div class="big-pic">
                    <carousel [showIndicators]="false" [isAnimated]="true"
                              [(activeSlide)]="activeSlide">
                        <slide class="slider" *ngFor="let slide of slides">
                            <img [src]="slide.image"
                                 style="display: block; width: 100%;">
                        </slide>
                    </carousel>
                </div>
                <div class="indicators row">
                    <button *ngFor="let slide of slides; let i = index"
                            type="button" class="indicator"
                            [class.active]="i === activeSlide"
                            [attr.aria-pressed]="i === activeSlide"
                            (click)="switchSlide(i)">
                        <img [src]="slide.image" class="indicators-img">
                    </button>
                </div>
            </div>
            <div class="col-md-5 item-description">
                <div class="row item-title">
                    <p class="item-name">{{product.name}}</p>
                    <p class="item-price">{{product.price}} ₴</p>
                </div>
                <div class="item-text">
                    <p>{{product.taste}}</p>
                </div>
                <div class="row">
                    <button class="btn btn-primary buy"
                            (click)="addToCart(product)"
                    >Придбати
                    </button>
                    <form class="btn-group" [formGroup]="amountForm">
                        <button class="count-button" (click)="decrease()"
                                [disabled]="count == 1"
                                style="border-radius: 2px 0 0 2px; border-right:#4fc1cb; height: 50px; width:40px; padding: revert;">
                            -
                        </button>
                        <input class="count-input" [value]="count"
                               type="number"
                               formControlName="amount"
                               (change)="onChange()"
                               style="max-width: 40px; text-align: center; height: 50px; padding: unset;background-clip: unset"/>
                        <button class="count-button" (click)="increase()"
                                [disabled]="count == product.amount"
                                style="border-radius: 0 2px 2px 0; border-left: #4fc1cb; height: 50px; width:40px; padding: revert;">
                            +
                        </button>
                    </form>

                </div>
            </div>
        </section>
        <section class="advices">
            <div>
                <p class="a-title">Також рекомендуємо</p>
            </div>
            <div class="row advices-items">
                <div class="one-item">
                    <a [routerLink]="'item-page'"><img
                            src="assets/images/item-page/hookah-pic-2.png"
                            class="hookah-pic-2"/></a>
                    <a [routerLink]="'item-page'"><p class="advice-item-name">
                        Hartley
                        Brown & Matte Black...</p></a>
                    <div class="row">
                        <div class="advice-price">
                            <p class="advice-number">149₴</p>
                            <p class="availability">В наявності</p>
                        </div>
                        <button class="shop"><i
                                class="bi bi-cart-plus shop-icon"></i>
                        </button>
                    </div>
                </div>
                <div class="one-item">
                    <a [routerLink]="['item-page', product.id]"><img
                            src="assets/images/item-page/hookah-pic-2.png"/></a>
                    <a [routerLink]="['item-page', product.id]"><p
                            class="advice-item-name">Hartley
                        Brown & Matte Black...</p></a>
                    <div class="row">
                        <div class="advice-price">
                            <p class="advice-number">149₴</p>
                            <p class="availability">В наявності</p>
                        </div>
                        <button class="shop"><i
                                class="bi bi-cart-plus shop-icon"></i></button>
                    </div>
                </div>
                <div class="one-item">
                    <a [routerLink]="['item-page', product.id]"><img
                            src="assets/images/item-page/hookah-pic-2.png"/></a>
                    <a [routerLink]="['item-page', product.id]"><p
                            class="advice-item-name">Hartley
                        Brown & Matte Black...</p></a>
                    <div class="row">
                        <div class="advice-price">
                            <p class="advice-number">149₴</p>
                            <p class="availability">В наявності</p>
                        </div>
                        <button class="shop"><i
                                class="bi bi-cart-plus shop-icon"></i></button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
